@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}


<div class="p-5 d-flex flex-column">
    <h1 class="mb-3 fw-bolder">User Settings</h1>
    
    <div>
        <div>
            <partial name="_ManageNav" />
            <hr class="mt-0"/>
        </div>
        <div  class="w-100">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var RootUrl = '@Url.Content("~/")';
    </script>
    @RenderSection("Scripts", required: false)
    
}
