@page "{handler?}"
@model PPT.Pages.BranchFinalReportModel
@{
	ViewData["Title"] = "التقرير الشهري النهائي";
}
<div>
	<form>
		<h4>المتفرغين</h4><br />
		<label>الشهر</label>
		<input type="month" id="monthSelFull" name="monthF" class="form-control">
		<input type="submit" value="تحميل"  asp-page-handler="DownloadFull" class="btn btn-primary"/>
	</form>

</div>
<br /><br />
<div>
	<form >
		<h4>غير المتفرغين</h4><br />
		<label>الشهر</label>
		<input type="month" id="monthSelPart" name="monthP" class="form-control">
		<input type="submit" value="تحميل"  asp-page-handler="DownloadPart" class="btn btn-primary"/>
	</form>

</div>