@page
@model PPT.Pages.CalendarModel
@{
    ViewData["Title"] = "المفكرة";
}

<div class="wrapper" >

    @Html.AntiForgeryToken()
        <div id="demo" class="alert alert-danger" role="alert" style="display:none;">
        </div>
        <header>
            <p class="current-date"></p>
            <div class="icons">
            <span id="next" class="material-symbols-rounded">&#8250;</span>
            <span id="prev" class="material-symbols-rounded">&#8249;</span>
            </div>
        </header>
        <div class="calendar">
            <ul class="weeks">
                <li>أحد</li>
                <li>اث</li>
                <li>ثل</li>
                <li>ار</li>
                <li>خم</li>
                <li>جم</li>
                <li>سب</li>
            </ul>
            <ul class="days"></ul>
        </div>
        
    </div>
<script>
    window.onload = function () {
        renderCalendar();
    }

</script>
