@page "{handler?}"
@model PPT.Pages.DepartmentReportModel
@{
	ViewData["Title"] = "التقرير الشهري النهائي";
}
 @*returns undetailed report for department in a given month*@

<div>
	<form>
		<h4>المتفرغين</h4><br />
		<label for="monthSelFull">الشهر</label>
		<input type="month" id="monthSelFull" name="monthF" class="form-control">
		<input type="submit" value="import"  asp-page-handler="DownloadFull" class="btn btn-accent"/>
	</form>

</div>
<br /><br />
<div>
	<form >
		<h4>غير المتفرغين</h4><br />
		<label for="monthSelPart">الشهر</label>
		<input type="month" id="monthSelPart" name="monthP" class="form-control">
		<input type="submit" value="تحميل"  asp-page-handler="DownloadPart" class="btn btn-accent"/>
	</form>

</div>