@page "{handler?}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PPT.Pages.DoctorAttendanceModel
@{
	ViewData["Title"] = "حضور الدكتور";
}


@*strategy: 1: select doctor												
			2: select month													
			3: view fresh table of this month regardless of old attendance	
			4: new checked days will be added										
			take into consideration that this page will not allow updates,
			so an update is as follows: 
			1: select a doctor and a specific month, and then only show days 
			with attendance done, to allow the clerk to remove them(delete rows 
			from the database), so there is no update but only delete, unless the
			doctor is contracted, so we will show field to update duration
			if attendance is still checked, if unchecked -> hide duration update field.
*@
<body>
	


	<div id="monthselector"> 

		<form>
			<select id="ddlDoctors" name="id" style="width:170px;" asp-items="@Model.DoctorsList">
				<option value="0">الإسم</option>
			</select>
	@*        <input type="hidden" name="DrName"/>*@
			<br/>
			<br/>
	@*        <input type="submit" value="Submit"asp-page-handler="Search"/>*@
			
			
			

			<label for="monthSel">الشهر</label>
			<input type="month" id="monthSel" name="month" onchange="showTable()" class="form-control">
			<br /><br />
			<input type="submit" class="btn btn-primary" value="حفظ" asp-page-handler="DateAttendance" />
			<table id="tableBody" class="table">
				<tr id ="table_head">
					<th>اليوم</th>
					<th>الحضور</th>
					<th id = "duration" style="display:none">المدة</th>
			    </tr>

			</table>
			
			<script>
					//document.getElementById('ddlDoctors').addEventListener("change", () => {
					//	Console.Log("hi");
					//	var url = `/IsContracted?id=${document.getElementById('ddlDoctors').selectedOptions[0].value}`;
					//	fetch(url)
					//		.then((response) => {
					//			return response.text();
					//		})
					//		.then((result) => {
					//			if(result=="true")
					//				document.getElementById("duration").style.display = "block";
					//		});
					//});

				function showTable() {
					var date = document.getElementById('monthSel').value;
                    if (date != NaN && document.getElementById('ddlDoctors').value !=0) {
                        const data = date.split("-");
                        var year = parseInt(data[0]);
                        var month = parseInt(data[1]);
                        var days = new Date(year, month, 0).getDate();
                        var table = document.getElementById('tableBody');
						for(let i = 1;i < table.children.length;)
							table.removeChild(table.children[i]);
                        for (let i = 1; i <= days; i++) {
                            let current_day = new Date(year, month-1, i);
							let row = document.createElement('tr');

							let c1 = document.createElement('td');
							let c2 = document.createElement('td');

							c1.innerHTML  = current_day.toLocaleDateString();
                            var x = document.createElement('INPUT');
							x.setAttribute("type", "checkbox");
							x.setAttribute("name", "AreChecked");
							x.setAttribute("id",current_day.toLocaleDateString());
							x.setAttribute("value",current_day.toLocaleDateString())
							x.addEventListener('change', function() {
								let aid = "duration"+this.id;
								let a = document.getElementById(aid);
								if (this.checked && a!=null) {
									a.disabled = false;
									
								} else if(a!=null){
									a.disabled = true;
								}
							});
							c2.appendChild(x);
                            row.appendChild(c1);
							row.appendChild(c2);
							if (window.getComputedStyle(document.getElementById('duration')).display != 'none') {
								let c3 = document.createElement("td")
								let y = document.createElement('INPUT');
								y.setAttribute("type", "number");
								y.setAttribute("name","durations");
								y.setAttribute("min",1);
								y.setAttribute("class", "form-control");
								y.setAttribute("max",9);
								y.setAttribute("required","required");
								y.disabled = true;
								y.setAttribute("id","duration"+ current_day.toLocaleDateString());
								y.style.width = "70px";
								c3.appendChild(y);
								row.appendChild(c3);
                            }
								
                            table.appendChild(row)
                        }
                    }
				}
				
			</script>

			
		</form>		
	</div>

@*	<div id="dayselector" style="display:none">
		<form>
			<label for="day">اليوم</label>
			<input type="date" id="daySel" name="day" ><br /><br />
			<label for="attendance">الحضور</label>
			<input type="checkbox" id="attendance" name="IsChecked" value="true"><br />
			<input type="submit" value="حفظ" asp-page-handler="ByDay"/>
		</form>
	</div>*@

</body>
@section scripts{
<script type="text/javascript">
	$(function () {
		$("#ddlDoctors").select2();
		$('#ddlDoctors').on('select2:selecting', function (e) {
			$.ajax({
				url: "/doctorattendance/iscontracted",
				data: { "id": e.params.args.data.id },
				success: function (result) {
					if (result == "true")
						$("#duration").show();
					else
						$("#duration").hide();
				}
			});
			$("#tableBody").find("tr:not(:first)").remove();
		});
	});
</script>
}