@page
@model PPT.Pages.DoctorAttendanceModel
@{
	ViewData["Title"] = "حضور الدكتور";
}
<body>
	
	<input dir="rtl" type="radio" id="day" name="attendaceType" value="DAY">
	<label dir="rtl" for="day">يومي</label><br />
	<input dir="rtl" type="radio" id="month" name="attendaceType" value="MONTH">
	<label dir="rtl" for="month">شهري</label>
	
	
</body>
