@page
@model PPT.Pages.ImportdataModel
@{
    ViewData["Title"] = "ImportData";
}
<h1>تحميل الملف</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="UploadFile">يرجى إختيار الملف بصيغة CSV</label>
        <input type="file" id="UploadFile" name="UploadFile" class="form-control" />
    </div>
    <button type="submit" class="btn btn-accent">تحميل</button>
</form>
@if (!string.IsNullOrEmpty(Model.FileContent))
{
    <h3>تم إدخال الأسماء التالية</h3>
    <span style="white-space:pre-line">@Model.FileContent</span>
}