@page
@model PPT.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">أهلا بكم</h1>
    <h2>الجامعة اللبنانية</h2>
    <p>هذه المنصة تعنى بتسجيل وعرض حضور الأساتذة</p>
</div>
