@page
@model PPT.Pages.PresenceByDayModel
@{
    ViewData["Title"] = "Presence by Day";
}

<div>
    <h1 class="mb-4">Professors Presence for this day</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">University Id</th>
                <th scope="col">Attended</th>
                <th scope="col">is Contracted</th>
                <th scope="col">Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>10834874-238473482-118347-111</td>
                <td>yes</td>
                <td>yes</td>
                <td>10</td>
            </tr>
      
        </tbody>
    </table>
</div>