
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
  margin-bottom: 60px;
}

/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
a {
    text-decoration: none !important;
    font-weight: bold !important;
}
a:hover {
    text-decoration:none !important;

}


.wrapper {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

    .wrapper header {
        display: flex;
        align-items: center;
        padding: 25px 30px 10px;
        justify-content: space-between;
    }

header .icons {
    display: flex;
}

    header .icons span {
        height: 38px;
        width: 38px;
        margin: 0 1px;
        cursor: pointer;
        color: #878787;
        text-align: center;
        line-height: 38px;
        font-size: 1.9rem;
        user-select: none;
        border-radius: 50%;
    }

.icons span:last-child {
    margin-right: -10px;
}

header .icons span:hover {
    background: #f2f2f2;
}

header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}

.calendar {
    padding: 20px;
}

    .calendar ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        text-align: center;
    }

    .calendar .days {
        margin-bottom: 20px;
    }

    .calendar li {
        color: #333;
        width: calc(100% / 7);
        font-size: 1.07rem;
    }

    .calendar .weeks li {
        font-weight: 500;
        cursor: default;
    }

    .calendar .days li {
        z-index: 1;
        cursor: pointer;
        position: relative;
        margin-top: 30px;
    }

.days li.inactive {
    color: #aaa;
}


.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li.active::before {
    background: #9B59B6;
}

.days li:not(.active):hover::before {
    background: #f2f2f2;
}

/* Custom CSS file */
.bg-blue {
    background-color: blue; /* Replace with your desired color value */
}

.navbar-brand {
    padding-right: 0.3125rem;
    padding-left: 0.3125rem;
    font-weight:bold;
}

.nav-link {
    color: rgb(13, 110, 253);
}
.form-label{
    text-align: end;
}
.form-control {
    margin-bottom: 1.2rem;
}
.control-label {
    margin-bottom: 0.5rem;
}
.drop-area {
    border: 2px dashed #ccc;
    padding: 10px;
    margin-top: 10px;
}

    .drop-area.highlight {
        background-color: #f1f1f1;
    }
.drag-handle {
    cursor: move;
}

.remove-attendance {
    color: red;
    cursor: pointer;
}

/* Styles for the pop-up window */
.popup {
    width: 90%;
    max-width: 1000px;
    min-height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 9999;
}

/* Styles for the overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: none;
}

.nav-link {
    background-color: var(--bs-btn-bg);
    color: white !important;
}
.navbar-nav .nav-link {
    font-weight:normal !important;
}

    .navbar-nav .nav-link:hover {
        text-decoration:none !important;
    }
.navbar-nav .nav-item:not(:last-child) {
    margin-right: 1rem;  Adjust the margin as needed 
}

