@using Microsoft.AspNetCore.Identity
@using PPT.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav ms-auto">
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var fullName = user.FirstName +" "+ user.LastName; // Assuming you have a "FullName" property in your User model

    <li class="nav-item">
            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@fullName</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="btn btn-accent rounded text-white">Logout</button>
        </form>
    </li>
}
else
{
    @*<li class="nav-item">
            <a class="nav-link btn btn-accent text-white me-2 rounded" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>*@
    <li class="nav-item">
            <a class="btn btn-outline-accent rounded" id="SignIn" asp-area="Identity" asp-page="/Account/SignIn">Sign in</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-accent rounded" id="SignUp" asp-area="Identity" asp-page="/Account/SignUp">Sign up</a>
    </li>
}
</ul>
