 @using Microsoft.EntityFrameworkCore;
 @using Models
 @inject Data.PPTDatacontext _context;
<h3>DoctorsList</h3>
<select>
	@if(DoctorList != null)
	{
		@foreach(var doctor in DoctorList)
		{
			<option> @doctor.name</option>
		}
	}

</select>


@code {
	List<Doctor>? DoctorList;
	protected override async Task OnInitializedAsync()
	{
		    var doctors = from m in _context.doctors
                         select m;
			//doctors = doctors.Where(s => s.name.Contains(" "));
			DoctorList = await doctors.ToListAsync();
            //if (!string.IsNullOrEmpty(SearchString))
            //{
            //    doctors = doctors.Where(s => s.name.Contains(SearchString));
            //    DoctorList = await doctors.ToListAsync();
            //}
	}
}
